[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
face-recognition = "*"
opencv-python = "*"
scikit-learn = "*"
dlib = "*"
docopt = "*"

[requires]
python_version = "3.8"
